body {
    background-color: #ffffff;
}

.container {
    margin-top: 10vh;
    width: 100%;
    height: 90vh;
}

.row {
    margin-bottom: 40px;
}   

canvas {
    display: block;
    background: #000;
}